<div id="<%= dom_id multum %>">
  <p>
    <strong>Descripcion:</strong>
    <%= multum.descripcion %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= multum.fecha %>
  </p>

  <p>
    <strong>Monto:</strong>
    <%= multum.monto %>
  </p>

</div>
