/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input{
    margin: 10px;
    width: 50%;
    /*padding --> como se ve el texto dentro del input*/
    padding: 5px 15px;
    /*Ancho del borde 2px*/
    border: 2px solid #ffa256;
    /*Redondea los bordes*/
    border-radius: 10px;
    /*Espacios entre el boton*/
    margin-bottom: 1px;
}


.input:focus{ /*Cuando estoy en el input*/
    outline: none;
}

.input:hover{   /*Cuando paso cursor por arriba*/
    color: #ffa256;
    border: solid 2px #ffa256;
    box-shadow: 0 0 6px #ffa256;
}


/*SEPARADORES*/
.separador{
    margin: 25px;
    display: flex;
    width: 30%;
    /*espacio entre elementos*/
    gap: 0px;
}
.separador hr{
    /*lo que quiero que ocupe la línea*/
    flex-grow: 1;
    border:none;
    border-top: 1px solid #ccc;
}