<p style="color: green"><%= notice %></p>

<h1>Historial usos</h1>

<div id="historial_usos">
  <% @historial_usos.each do |historial_uso| %>
    <%= render historial_uso %>
    <p>
      <%= link_to "Show this historial uso", historial_uso %>
    </p>
  <% end %>
</div>

<%= link_to "New historial uso", new_historial_uso_path(:id_user => 3) %>
